div.header {
    background-color:#828282;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 3rem 1rem;
    color:#ffffff;
    margin-bottom: 2rem;
}

div.container-body {
    margin-bottom: 65px;
}
